@charset "UTF-8";
/* table 表格
 * --------------------------------------------
 */
/* Font
-------------------------------------------------- */
/* Colors 定义颜色
-------------------------------------------------- */
/* 字体颜色 */
/* 边框颜色  */
/* Border-radius
-------------------------------------------------- */
/* Hover Transition Style 
-------------------------------------------------- */
.BoxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xui-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.xui-table > thead > tr > th,
.xui-table > tbody > tr > td {
  padding: 12px 10px;
  border-bottom: 1px solid #e9eaec;
  transition: background-color 0.3s ease-in-out;
}
/* 条纹状表格  */
.xui-table-striped > tbody > tr:nth-child(odd) > td {
  background-color: #eee;
}
/* 带边框的表格 */
.xui-table-bordered {
  border: 1px solid #e9eaec;
}
.xui-table-bordered > thead > tr > th,
.xui-table-bordered > tbody > tr > td {
  border: 1px solid #e9eaec;
}
/* 鼠标悬停  */
.xui-table-hover > tbody > tr:hover > td {
  background-color: #f5f5f5;
}
