@charset "UTF-8";
/* Font
-------------------------------------------------- */
/* Colors 定义颜色
-------------------------------------------------- */
/* 字体颜色 */
/* 边框颜色  */
/* Border-radius
-------------------------------------------------- */
/* Hover Transition Style 
-------------------------------------------------- */
.BoxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
