@charset 'utf-8';
/* view 视图增强
 * --------------------------------------------
 */
/* Font
-------------------------------------------------- */
/* Colors 定义颜色
-------------------------------------------------- */
/* 字体颜色 */
/* 边框颜色  */
/* Border-radius
-------------------------------------------------- */
/* Hover Transition Style 
-------------------------------------------------- */
.BoxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xui-alert {
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 16px;
  font-size: 12px;
}
.xui-alert .xui-alert-message {
  font-size: 13px;
}
.xui-alert .xui-alert-desc {
  margin-top: 4px;
  line-height: 21px;
}
.xui-alert .xui-alert-desc:empty {
  display: none;
}
.xui-alert-info {
  border: 1px solid #d5e8fc;
  background-color: #eaf4fe;
}
.xui-alert-info .xui-alert-icon {
  color: #2d8cf0;
}
.xui-alert-success {
  border: 1px solid #d1f2e1;
  background-color: #e8f9f0;
}
.xui-alert-success .xui-alert-icon {
  color: #19be6b;
}
.xui-alert-warning {
  border: 1px solid #ffebcc;
  background-color: #fff5e6;
}
.xui-alert-warning .xui-alert-icon {
  color: #ff9900;
}
.xui-alert-error {
  border: 1px solid #fbd9d0;
  background-color: #fdece8;
}
.xui-alert-error .xui-alert-icon {
  color: #ed3f14;
}
.xui-alert-with-icon {
  padding-left: 48px;
}
.xui-alert-with-icon .xui-alert-icon {
  position: absolute;
  left: 20px;
  font-size: 14px;
  top: 50%;
  margin-top: -8px;
}
.xiu-message-container {
  position: fixed;
  left: 0;
  top: 16px;
  width: 100%;
  z-index: 1000;
}
.xiu-message {
  position: absolute;
  left: 50%;
  width: auto;
  opacity: 0;
}
.xui-message-notice-content {
  position: relative;
  right: 50%;
  background: #fff;
  padding: 8px 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.xui-message-notice-content .xui-message-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -9px;
  font-size: 14px;
}
.xui-message-info-icon {
  padding: 10px 16px 10px 36px;
}
.xui-message-info-icon .xui-message-icon {
  color: #2d8cf0;
}
.xui-model {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}
.xui-model-container {
  position: relative;
  width: 600px;
  background-color: #fff;
  margin: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  top: 50px;
}
.xui-model-header {
  padding: 15px;
  border-bottom: 1px solid #e9eaec;
}
.xui-model-header .xui-model-title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}
.xui-model-header .xui-model-close {
  float: right;
  font-size: 30px;
  margin-top: -10px;
}
.xui-model-body {
  padding: 15px;
}
.xui-model-footer {
  text-align: right;
  padding: 12px 15px;
  border-top: 1px solid #e9eaec;
}
.xui-model-footer .xui-btn {
  margin-left: 6px;
}
.xui-progress {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  position: relative;
  overflow: hidden;
}
.xui-progress-body {
  display: inline-block;
  width: 100%;
}
.xui-progress-inner {
  display: inline-block;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 100px;
  vertical-align: middle;
}
.xui-progress-bg {
  position: relative;
  background: #2db7f5;
  border-radius: 100px;
  transition: all .3s linear;
}
.xui-progress-show-info .xui-progress-body {
  padding-right: 55px;
  margin-right: -55px;
}
.xui-progress-text {
  display: inline-block;
  text-align: left;
  margin-left: 5px;
}
.xui-progress-active .xui-progress-bg:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 10px;
  animation: xui-progress-active 2s ease-in-out infinite;
}
.xui-collapse {
  width: 100%;
  background: #f7f7f7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dddee1;
}
.xui-collapse-item:not(:last-child) {
  border-bottom: 1px solid #dddee1;
}
.xui-collapse-active .xui-collapse-header > i {
  transform: rotate(180deg);
}
.xui-collapse-header {
  position: relative;
  padding: 0 16px;
  height: 38px;
  line-height: 38px;
  color: #666;
  cursor: pointer;
}
.xui-collapse-header > i {
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -20px;
  font-size: 14px;
  transition: all .3s linear;
}
.xui-collapse-body {
  display: none;
  background-color: #fff;
  overflow: hidden;
  padding: 16px;
  color: #495060;
  font-size: 14px;
}
