/* button 按钮
 * --------------------------------------------
 */

//引入变量文件
@import "variables.less";

/* radio */
.xui-radio,.xui-checkbox{
  vertical-align: middle;
}
.xui-radio-group{
  > label{
    display: block;
    cursor: pointer;
  }
  .xui-radio-inline{
    display: inline-block;
    margin-right: 15px;
  }
} 

.xui-radio-inner{
  position: relative;
  display: inline-block;
  width: 14px; height: 14px;
  border-radius: 50%;
  border: 1px solid @base-color-dddee1;
  transition: all .2s ease-in-out;
  &:hover{
    border-color: @border-color-bcbcbc;
  }
  &:after{
    content: ""; 
    position: absolute;
    width: 8px; height: 8px; left: 2px; top: 2px;
    border-radius: 6px;
    background-color: @base-primary;
    transform: scale(0);
    transition: all .2s ease-in-out;
  }
}

.xui-radio-checked{
  .xui-radio-inner{
    border-color: @base-primary;
  }
  .xui-radio-inner:after{
    transform: scale(1);
  }
}

.xui-radio-input,.xui-checkbox-input{  
  position: absolute; left: 0; top: 0;
  display: none;
  opacity: 0;
  vertical-align: middle;
  
}

/*checkbox*/
.xui-checkbox-group{
  > label{
    display: block;
    cursor: pointer;
  }
  .xui-checkbox-inline{
    display: inline-block;
    margin-right: 15px;
  }
}

.xui-checkbox-inner{
  position: relative;
  display: inline-block;
  width: 14px; height: 14px;
  border: 1px solid @base-color-dddee1;
  border-radius: 2px;
  transition: all .2s ease-in-out;
  &:hover{
    border-color: @border-color-bcbcbc;
  }
  &:after{
    content: ""; 
    position: absolute; display: table;
    width: 4px; height: 8px; left: 4px; top: 1px;
    border: 2px solid @base-color-white; border-top: 0; border-left: 0;    
    transform: rotate(45deg) scale(0);
    transition: all .2s ease-in-out;
  }
}

.xui-checkbox-checked{
  .xui-checkbox-inner{
    border-color: @base-primary;
    background-color: @base-primary;
  }
  .xui-checkbox-inner:after{
    content: ""; 
    position: absolute; display: table;
    width: 4px; height: 8px; left: 4px; top: 1px;
    border: 2px solid @base-color-white; border-top: 0; border-left: 0;   
    transform: rotate(45deg) scale(1);
    transition: all .2s ease-in-out;
  }
}




/* xui-input */
.xui-input{
  position: relative;
  display: inline-block;
  padding: 0 7px;
  width: 100%;
  height: 32px; line-height: 1.5;
  outline: none;
  border: 1px solid @base-color-dddee1;
  transition: border-color .3s ease-out;
  .borderRadius(3px);
  &:focus{
    border-color: @base-primary; 
    .BoxShadow(0,0,0,2px);
  } 
}
textarea.xui-input{
  height: auto;
}

.xui-input[disabled]{
  border-color: @border-color-e4e5e7;
  background-color: @base-f9f9f9;
}
.xui-input[disabled]:hover{
  cursor: no-drop;
}

.xui-input-wrapper{
  position: relative;
}

.xui-input-icon{
  position: absolute; top: 0;
  width: 32px; height: 32px; text-align: center;
  line-height: 32px;
  font-size: @font-size-16;
  z-index: 1;
}

.xui-icon-left{
  .xui-input-icon{
    left: 0;
  }
  .xui-input{
    padding-left: 34px;
  } 
}

.xui-icon-right{
  .xui-input-icon{ 
    right: 0;
  }
  .xui-input{
    padding-right: 34px;
  } 
}


