/* table 表格
 * --------------------------------------------
 */

//引入变量文件
@import "variables.less";

//table
.xui-table{
  width: 100%;
  text-align: left;
  &>thead>tr>th{
    padding: 12px 10px; 
    border-bottom: 1px solid @base-color-e9eaec;
  }
  &>tbody>tr>td{
    padding: 12px 10px; 
    border-bottom: 1px solid @base-color-e9eaec;
  }
}
