//
// Variables 变量文件
// --------------------------------------------------

/* Font
-------------------------------------------------- */
@font-family: "Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif";

@font-size-12: 12px;
@font-size-13: 13px;
@font-size-14: 14px;
@font-size-15: 15px;
@font-size-16: 16px;
@font-size-18: 18px;
@font-size-20: 20px;


/* Colors 定义颜色
-------------------------------------------------- */
@base-primary: #2d8cf0; 
@base-success: #19be6b;
@base-info: #5bc0de;
@base-warn: #ff9900;
@base-danger: #ed3f14; 

@base-f9f9f9: #f9f9f9;

/* 字体颜色 */
@base-color-default: #495060;
@base-color-white: #fff;
@base-color-dddee1: #dddee1;
@base-color-e9eaec: #e9eaec;

/* 边框颜色  */
@border-color-default: #dddee1;
@border-color-e4e5e7: #e4e5e7;
@border-color-bcbcbc: #bcbcbc;

/* Border-radius
-------------------------------------------------- */
.borderRadius(@radius: 3px){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}


/* Hover Transition Style 
-------------------------------------------------- */
.Transition(@time: .3s){
  -moz-transition: color @time ease-out, background-color @time ease-in-out;
  -webkit-transition: color @time ease-out, background-color @time ease-in-out;
  transition: color @time ease-out, background-color @time ease-in-out;
}


.BoxShadow(@h-shadow, @v-shadow, @blur, @spread, @color:rgba(45,140,240,.2)){
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  box-shadow: @arguments;
}


.BoxSizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
